@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Roboto', sans-serif;
}
    
@layer components {
    .heading {
        @apply text-3xl md:text-5xl font-semibold font-head
    }

    .text {
        @apply text-slate-500 tracking-wider
    }
}


.ql-container { 
    min-height: 350px !important;
}

.health-wrld ul {
    list-style: disc !important;
    margin-left: 15px;
}

.health-wrld ol {
    list-style: disc !important;
    margin-left: 15px;
}

.mantine-RichTextEditor-root ul {
    list-style-type: disc;
    padding-left: 1.5rem; /* Adjust as necessary */
  }
  
  /* Optional: Add style for nested lists */
  .mantine-RichTextEditor-root ul ul {
    list-style-type: circle; /* or 'square', based on preference */
  }
  
  /* Ensure consistency for ordered lists */
  .mantine-RichTextEditor-root ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }

  
  .accordion-body ul {
    list-style-type: disc;
    padding-left: 1.5rem; 
}

.accordion-body  ul ul {
    list-style-type: circle; 
}

.accordion-body  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

.accordion-body  h1, h2, h3, h4 {
    margin-bottom: 12px;
}

.accordion-body h1 {
    font-size: 34px;
}

.accordion-body h2 {
    font-size: 26px;
}

.accordion-body h3 {
    font-size: 22px;
}

.accordion-body h4 {
    font-size: 18px;
}

.accordion-body p {
    margin-bottom: 7px;
}